body {
    background-color: rgb(158, 179, 40);
}

img {
    width: 100%;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
}

ul {
    list-style-type: none;
    list-style: none;
}

li:not(:nth-child(1)) {
    width: auto;
    overflow: hidden;
    border-top: 1px solid silver;
    cursor: pointer;
}

.imgContainer {
    display: none;
    padding-bottom: 10px;
}

.listItem:hover .imgContainer {
    display: block;
}

h2 {
    color: rgb(26, 62, 182);
    padding-right: 100px;
}

.mainContainer:hover h2 {
    color: black;
    transition: color 0.3s;
    background: url(/cssBayan/icon.svg) no-repeat right;
}

/* .listItem:focus ~ .imgContainer{display: block;} */